{% extends 'base.html' %}
{% block  body %}
 <div class="card shadow">

                <div class="card-body">
                    <h4 class="card-title">{{out.name}}</h4>
                    <p class="card-text">{{out.priority}}</p>
                    <p class="card-text">{{out.date}}</p>
                    <a class="btn btn-danger" href="{% url 'todo1app:clsdel' out.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'todo1app:clsup' out.id %}">Update</a>
                </div>


            </div>


{% endblock %}