{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-md">
    <div class="row">
        <div class="col-md-6 mt-4">
            <form method="post" class="p-3 shadow ">
                {% csrf_token %}
                <div class="form-group">

                    <input type="text" name="name" class="form-control" placeholder="enter task name">
                    <input type="number" name="priority" class="form-control" placeholder="enter task priority">
                    <input type="date" name="date" class="form-control" placeholder="enter task date">
                    <input type="submit" class="btn btn-success">

                </div>


            </form>
        </div>


        <div class="col-md-6 mt-4">
            <h3>Task To Be Completed</h3>
        {% for i in card %}

            <div class="card shadow">

                <div class="card-body">
                    <h4 class="card-title">{{i.name}}</h4>
                    <p class="card-text">{{i.priority}}</p>
                    <p class="card-text">{{i.date}}</p>
                    <a class="btn btn-danger" href="{% url 'todo1app:delete' i.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'todo1app:update' i.id %}">Update</a>
                </div>


            </div>
            <br>
         {% endfor %}

        </div>




    </div>
</div>

{% endblock %}